<header>
    <nav class="w-full py-7 px-10 flex justify-between items-center text-white bg-blue-700">
        <div class="font-semibold text-xl flex justify-center items-center gap-5 cursor-pointer select-none transition-all hover:text-yellow-400 [&>svg]:fill-white [&>svg]:hover:fill-yellow-400" onclick="window.location.href = '/'">
            <img src="images/form.svg" width="30px" height="30px" alt="form-logo" class="focus-visible:outline-none" onload="SVGInject(this)">
            <p class="focus-visible:outline-none">Form Handling</p>
        </div>
        <ul class="flex justify-between items-center gap-7 select-none">
            <li><a class="font-semibold text-xl no-underline transition-all hover:text-yellow-400" href="/">Home</a></li>
            <li><a class="font-semibold text-xl no-underline transition-all hover:text-yellow-400" href="/register">Register</a></li>
            <li><a class="font-semibold text-xl no-underline transition-all hover:text-yellow-400" href="/login">Login</a></li>
        </ul>
    </nav>
</header>